
* {
  background-color: #292828;
  background-repeat: no-repeat;
  margin: 1.9em 20px;
  padding: 0px 100px 0px;
}

.titulo {
  color: white;
  font-family: sans-serif;
  padding: 0px 4px 0px;
}

.subtitulo {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.logo {
  width: 100px;
}